<div>


<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
<script>
    var client = filestack.init('AbW25vjRQki3tZYpTPbdgz');
    function showPicker() {
        client.pick({
        }).then(function(result) {
            console.log(JSON.stringify(result.filesUploaded))
        });
    }
</script>
<input type="button" class="btn btn-primary btn-lg" value="Upload your file(s)" onclick="showPicker()" />

</div>
<br>